    *{
        margin: 0.1rem;
        padding: 0;
        box-sizing: 0;
    }
    body {
        background-image: url("property.jpg");
        padding: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: whitesmoke;
        font-family: 'Gloock', serif;

    }
    header{
        font-size: 1.5rem;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .form {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        width:300px;
        height:250px;
        padding:10px;
    }

    .form .form-header{
        height:30px;
        display:flex;
        align-items:center;
        text-align:center;
    }

    .form .form-header > div {
        width:calc(100% / 3);
        color:#ede9e9;
        font-size:18px;
        font-weight:600;
        cursor:pointer;
    }

    .form.signup .form-header div.show_sign_up {
        color:#3a4de1;
        background-color: rgba(255,255,255,0.75);
        background-size: cover;
    }
    .form.signin .form-header div.show_sign_in {
        color:#3b51fa;
    }
    .form.adminlogin .form-header div.show_admin_login {
        color:#3b51fa;
    }

    .form .form-ele{
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .form .form-ele .form-ele {
        height:50px;
        opacity:1;
        overflow:hidden;
        transition:all 500ms ease-in-out;
      }
    .form .form-ele input{
        width:100%;
        padding:10px;
        font-size:16px;
        margin:5px 0px;
        border-radius:10px;
        box-sizing:border-box;
        border:1px solid #222;
        background:#f5f5f5;
    }

    .form .form-ele input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 600;
        margin-top: 5px;
        border-radius: 10px;
        color: #05005c;
        background:#f5f5f5;
        cursor:pointer;
        border:none;
        outline:none;
    }

    .form .form-ele button{
        width:100%;
        padding:5px;
        font-size:16px;
        font-weight:600;
        margin-top:5px;
        border-radius:10px;
        background:#010c71;
        color:#f5f5f5;
        cursor:pointer;
        border:none;
        outline:none;
        transition: 0.5s ease-in;
    }

    .form .form-ele button:hover{
        color: #0827a2;
        background: whitesmoke;
    }

    .form .arrow {
        position:absolute;
        top:51px;
        width:0;
        height:0;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom:10px solid #f5f5f5;
      }
      .form.signup .arrow {
        left:calc(calc(100% / 3) / 2);
      }
      .form.signin .arrow {
        left:calc(calc(100% / 3) + calc(calc(100% / 3) / 2.2)) ;
      }
      .form.adminlogin .arrow {
        left:calc(calc(calc(100% / 3) * 2) + calc(calc(100% / 3) / 3)) ;
      }
      .form.signin .form-ele > div:nth-child(2),
      .form.signin .form-ele > div:nth-child(4) {
        height:0px;
        opacity:0;
      }
      .form.adminlogin .form-ele > div:nth-child(1),
      .form.adminlogin .form-ele > div:nth-child(4) {
        height:0px;
        opacity:0;
      }
