    *{
        margin: 0.1rem;
        padding: 0;
        box-sizing: 0;
    }
    body {
        color: whitesmoke;
        font-family: 'Gloock', serif;
        overflow: auto;
    }

    .index_image_container{
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("property.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        filter: brightness(75%);
        z-index: -5;
    }

    .logo_container{
        background-image: url(logo.png);
        height: 125px;
        width: 125px;
        position: relative;
        background-size: cover;
        transform: translate(0%,-30%);
        z-index: 15;
    }

    header{
        font-size: 1.5rem;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    div .form-header{
        height:30px;
        width: 20%;
        display:flex;
        align-items:center;
        text-align:center; 
        margin: 0 auto;
        transform: translate(0,700%);
    }
    
    div .form-header > div {
        width: calc(100%/2);
        color:rgb(256,256,200);
        font-size:25px;
        font-weight:600;
        cursor:pointer;
        
    }

    .form-ele{
        background-color: rgba(0,0,0,0.5);
        color:whitesmoke;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 12rem;
        width: 20%;
        transform: translate(-50%, -25%);
        border-radius: 15px;
        font-size: 25px;
        text-align: center;
        
        
    }
    
    div .form-header > div:hover{
        transform: scale(1.2);
        transition: 0.5s ease-in;
    }

    #sign_in_btn{
        display: none;
    }

    button{
        border-radius: 4px;
        color: rgb(4, 1, 188);
        background-color: antiquewhite;
        font-size: large;
    }
    button:hover{
        color: antiquewhite;
        background-color:rgb(97, 20, 20);
        transform: scale(1.05);
        transition: 0.3s ease-in;
    }
    input{
        border-radius: 5px;
        font-size: large;
    }